# Python bytecode
__pycache__/
*.py[cod]
*.egg-info/

# Thư mục môi trường ảo
.venv/
env/
ENV/

# Thư mục IDE
.vscode/
.idea/

# Tệp hệ thống
.DS_Store
Thumbs.db

# Thư mục tĩnh và mẫu (nếu bạn muốn bỏ theo dõi)
static/
templates/
